.button-div {
    text-align: center!important;
    border-radius: 10px!important;
    padding: 5px!important;
    margin: 3%!important;
    font-size: 1.1em;
    font-weight: bold;
}

.ion-icon-64 {
    font-size: 64px!important;
  }

.align-text-middle {
    display: block!important;
    align-items: center!important;
}