ion-content {
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

.card {
    margin: 0 auto;

    .header {
        height: 0px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 30px;
            margin-top: -100px;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #025aa3;
                background-color: #fff;
            }
        }
    
    }
}

.img-experience {
    width: 400px;
    height: 350px;
    position: relative;
    margin: 30px;
    margin-top: -145px;
    margin-left: 280px;

    img {
        display: block;
    }
}

.img-patrocinio1 {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 30px;
    margin-top: -160px;
    margin-left: 320px;

    img {
        display: block;
    }
}
.img-patrocinio2 {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 30px;
    margin-top: -200px;
    margin-left: 200px;

    img {
        display: block;
    }
}
.img-patrocinio3 {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 30px;
    margin-top: -245px;
    margin-left: 80px;

    img {
        display: block;
    }
}


