page-daily-feeling {
    .godfather-icons {
        font-size: 18pt;
    }

    .label-md {
        font-size: 12px!important;
    }

    .widget-user-username{
        color: white!important;
    }
    .w100{
        width: 100%!important;
    }

    .img-circle{
        padding: 5%!important;
    }

    .margin5{
        margin: 5%!important;
    }

    ion-label{
        color:#000000!important;
        font-size: 15pt!important;
    }
    ion-toggle{
        color:#000000!important;
    }
    
    .pad2{
        padding: 5%!important;
    }
    
    .border-radius-2{
        border-radius: 5%!important;
        padding: 5%!important;
    }
}
