<!-- -->
<!-- <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <strong>Home</strong> 
      </ion-title>
      <ion-buttons end>
        <button ion-button tappable (click)="presentNotifications($event)">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header> -->

<ion-content padding class="trips detail-bg">
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <h3 class="widget-user-username">Fulano Silva</h3>
          <h5 class="widget-user-desc">10456 pts</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="../../assets/dist/img/user1-128x128.jpg" alt="User Avatar">
        </div>
        <div class="box-footer">
          <div class="col-lg-12">
              <progress-bar [progress]="25" [color-degraded]="{'0': '#55cb00',  '15': '#55cb00', '25': '#55cb00'}"> </progress-bar>
          </div>
          <div class="col-lg-6 pull-left">
            <ion-icon name="flag"></ion-icon>
            11/2019
          </div>
          <div class="col-lg-6 pull-right">
            <ion-icon name="trophy"></ion-icon>
            04/2020
          </div>            
        </div>
      </div>
  <ion-grid>
    <ion-row *ngFor="let trip of trips">
      <ion-col>
          <dashboard-button buttonLabel="{{ trip.name }}" buttonIcon="{{ trip.icon }}" color="{{ trip.color }}" (buttonClicked)="viewDetail(trip.id)"></dashboard-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <dashboard-button *ngFor="let trip of tripsTwo" buttonLabel="{{ trip.name }}" buttonIcon="{{ trip.icon }}" color="{{ trip.color }}" (buttonClicked)="viewDetail(trip.id)"></dashboard-button>
      </ion-col>
      <ion-col>
          <dashboard-button *ngFor="let trip of tripsThree" buttonLabel="{{ trip.name }}" buttonIcon="{{ trip.icon }}" color="{{ trip.color }}" (buttonClicked)="viewDetail(trip.id)"></dashboard-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
