<!-- -->
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <strong>Home</strong> Tuberculose App
      </ion-title>
      <ion-buttons end>
        <button ion-button tappable (click)="presentNotifications($event)">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding class="trips detail-bg">
    <progress-bar [progress]="25" [color-degraded]="{'0': '#55cb00',  '15': '#55cb00', '25': '#55cb00'}"> </progress-bar>
  <!--list of trips-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="trip card" *ngFor="let trip of trips" tappable (click)="viewDetail(trip.id)" margin-bottom>
          <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
            <div class="background-filter rlt">
              <div class="align-bottom" padding-left padding-right>
                <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
          <div class="trip card" *ngFor="let trip of tripsTwo" tappable (click)="viewDetail(trip.id)" margin-bottom>
              <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
                <div class="background-filter rlt">
                  <div class="align-bottom" padding-left padding-right>
                    <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
