<!--
  Generated template for the GameficationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>
  <ion-slides>

    <ion-slide *ngFor="let question of questionList; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon name="help-circle" class="ion-icon-72"></ion-icon>
              <p>{{ question.question }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!correctQuestion[i] && !incorrectQuestion[i]">
          <ion-col class="txt-green">
              <ion-icon name="checkmark-circle" class="ion-icon-24" (click)="onClickTrue(question.confirmation, i)"></ion-icon>
              <p>VERDADE</p>
          </ion-col>
          <ion-col class="txt-red" (click)="onClickFalse(question.confirmation, i)">
              <ion-icon name="close-circle" class="ion-icon-24"></ion-icon>
              <p>MENTIRA</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="correctQuestion[i]">
          <ion-col>
            <p>Resposta certa, você ganhou 10 pontos!</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="incorrectQuestion[i]">
          <ion-col>
            <p>Resposta errada, você não ganhou pontos.</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="correctQuestion[i] || incorrectQuestion[i]">
            <ion-col>
              <p>Deslize ver a próxima pergunta <ion-icon name="arrow-dropright"></ion-icon></p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>    
  </ion-slides>
</ion-content>

<tubercusus-footer></tubercusus-footer>